<html>
    <head> <title> We are developing Django</title>

        {% load static %} <link rel="stylesheet" href="{% static 'style.css' %}">

    </head>
    
    <body>



        <h1> I am Learning to build websites in Django its funn!! </h1> 
        <li>  
            <a href='/home/'>Home</a>
            <a href='/blog/'>blog</a>
            <a href='/admin/'>admin</a>
        </li>
        
        {% block content %}
        
        <p> This is base template if you are reading this. that means content in here is not loaded properly. This is very generic code </p>

        {% endblock %}


        

    </body>
</html>